In [69]:
import requests
import pandas as pd
import sqlalchemy

url = "https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json"
url_landkreis = "https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?where=1%3D1&outFields=*&returnGeometry=false&outSR=4326&f=json"


url_csv_landkreis = "https://opendata.arcgis.com/datasets/917fc37a709542548cc3be077a786c17_0.csv"

In [7]:
# Get the data
data_landkreis = requests.get(url_landkreis).json()

In [8]:
# Inspect the properties of the data
print(data_landkreis.keys())

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'geometryProperties', 'geometryType', 'spatialReference', 'fields', 'features'])

In [27]:
# Extract column / field names 
print(data_landkreis["fields"][0]['name'])

OBJECTID

In [30]:
columns_landkreis = [i['name'] for i in data_landkreis["fields"]]

In [32]:
# Create empty dataframe to collect the data
df_landkreis = pd.DataFrame(columns = columns_landkreis)
print(df_landkreis.head())

Empty DataFrame
Columns: [OBJECTID, ADE, GF, BSG, RS, AGS, SDV_RS, GEN, BEZ, IBZ, BEM, NBD, SN_L, SN_R, SN_K, SN_V1, SN_V2, SN_G, FK_S3, NUTS, RS_0, AGS_0, WSK, EWZ, KFL, DEBKG_ID, Shape__Area, Shape__Length, death_rate, cases, deaths, cases_per_100k, cases_per_population, BL, BL_ID, county, last_update, cases7_per_100k, recovered, EWZ_BL, cases7_bl_per_100k, cases7_bl, death7_bl, cases7_lk, death7_lk, cases7_per_100k_txt, AdmUnitId]
Index: []

[0 rows x 47 columns]

In [64]:
print(data_landkreis['features'][0]['attributes'])

{'OBJECTID': 1, 'ADE': 4, 'GF': 4, 'BSG': 1, 'RS': '01001', 'AGS': '01001', 'SDV_RS': '010010000000', 'GEN': 'Flensburg', 'BEZ': 'Kreisfreie Stadt', 'IBZ': 40, 'BEM': '--', 'NBD': 'ja', 'SN_L': '01', 'SN_R': '0', 'SN_K': '01', 'SN_V1': '00', 'SN_V2': '00', 'SN_G': '000', 'FK_S3': 'R', 'NUTS': 'DEF01', 'RS_0': '010010000000', 'AGS_0': '01001000', 'WSK': '2008/01/01 00:00:00.000', 'EWZ': 90164, 'KFL': 56.73, 'DEBKG_ID': 'DEBKGDL20000002R', 'Shape__Area': 49182929.6872559, 'Shape__Length': 42752.5920153776, 'death_rate': 2.03227734608488, 'cases': 1673, 'deaths': 34, 'cases_per_100k': 1855.50774144892, 'cases_per_population': 1.85550774144892, 'BL': 'Schleswig-Holstein', 'BL_ID': '1', 'county': 'SK Flensburg', 'last_update': '04.03.2021, 00:00 Uhr', 'cases7_per_100k': 144.18171332239, 'recovered': None, 'EWZ_BL': 2903773, 'cases7_bl_per_100k': 47.731003766479, 'cases7_bl': 1386, 'death7_bl': 2, 'cases7_lk': 130, 'death7_lk': 0, 'cases7_per_100k_txt': '144,2', 'AdmUnitId': 1001}

In [65]:
print(pd.DataFrame(data_landkreis['features'][0]['attributes'], index = range(0, 1)))

   OBJECTID  ADE  GF  BSG     RS    AGS        SDV_RS        GEN  \
0         1    4   4    1  01001  01001  010010000000  Flensburg

                BEZ  IBZ  ... cases7_per_100k recovered   EWZ_BL  \
0  Kreisfreie Stadt   40  ...      144.181713      None  2903773

  cases7_bl_per_100k cases7_bl death7_bl cases7_lk death7_lk  \
0          47.731004      1386         2       130         0

  cases7_per_100k_txt AdmUnitId
0               144,2      1001

[1 rows x 47 columns]

In [66]:
print(pd.DataFrame([i['attributes'] for i in data_landkreis['features']]).head())

   OBJECTID  ADE   GF  BSG     RS    AGS        SDV_RS           GEN  \
0         1  4.0  4.0  1.0  01001  01001  010010000000     Flensburg
1         2  4.0  4.0  1.0  01002  01002  010020000000          Kiel
2         3  4.0  4.0  1.0  01003  01003  010030000000        Lübeck
3         4  4.0  4.0  1.0  01004  01004  010040000000    Neumünster
4         5  4.0  4.0  1.0  01051  01051  010510044044  Dithmarschen

                BEZ   IBZ  ... cases7_per_100k recovered   EWZ_BL  \
0  Kreisfreie Stadt  40.0  ...      144.181713      None  2903773
1  Kreisfreie Stadt  40.0  ...       64.831398      None  2903773
2  Kreisfreie Stadt  40.0  ...       33.713573      None  2903773
3  Kreisfreie Stadt  40.0  ...       39.902240      None  2903773
4             Kreis  42.0  ...       14.265014      None  2903773

  cases7_bl_per_100k cases7_bl death7_bl cases7_lk death7_lk  \
0          47.731004      1386         2       130         0
1          47.731004      1386         2       160         0
2          47.731004      1386         2        73         0
3          47.731004      1386         2        32         0
4          47.731004      1386         2        19         0

  cases7_per_100k_txt AdmUnitId
0               144,2      1001
1                64,8      1002
2                33,7      1003
3                39,9      1004
4                14,3      1051

[5 rows x 47 columns]

In [68]:
# Extract the data
df_landkreis = pd.DataFrame([i['attributes'] for i in data_landkreis['features']])
print(df_landkreis.shape)

(412, 47)

In [92]:
max([len(i) for i in df_landkreis[~df_landkreis["DEBKG_ID"].isnull()]["DEBKG_ID"]])

16

In [94]:
# Preparation for MySQL Database

# Get max length of each column
max([len(i) for i in df_landkreis["BEZ"]])

16

In [165]:
# Connect to MySQL Database
from sqlalchemy import create_engine, insert

In [111]:
# Create the engine
engine = create_engine('mysql://Write_User:123456@localhost/rki_covid')
# If you run into problems: "pip install mysqlclient"

print(engine.table_names())

['data_requests', 'rki_landkreis']

In [109]:
# Connect with the engine
connection = engine.connect()

In [145]:
# Problems

# (1264, "Out of range value for column 'SDV_RS' at row 1")
print("SDV: ", df_landkreis.loc[0, "SDV_RS"])
# FIX: change type in MySQL Database from INT to BIGINT

# (1366, "Incorrect integer value: '--' for column 'BEM' at row 1")
print("BEM", df_landkreis.loc[0, "BEM"])
# Clean numeric columns

# (1264, "Out of range value for column 'RS_0' at row 1")
print("RS_0: ", df_landkreis.loc[0, "RS_0"])
# FIX: change type in MySQL Database from INT to BIGINT

#(1292, "Incorrect date value: '04.03.2021, 00:00 Uhr' for column 'last_update' at row 1")
print("last_update: ", df_landkreis.loc[0, "last_update"])
# FIX: export as varchar

# (1366, "Incorrect decimal value: '144,2' for column 'cases7_per_100k_txt' at row 1")
print("cases7_per_100k_txt: ", df_landkreis.loc[0, "cases7_per_100k_txt"])
# Requires all "," to be replaced with "." -> from german to english decimal notation

# (1366, "Incorrect integer value: 'Sonderverband' for column 'BEM' at row 27")
print("BEM", df_landkreis.loc[26, "BEM"])
# FIX: Change type from INT to VARCHAR

SDV:  010010000000
BEM None
RS_0:  010010000000
last_update:  04.03.2021, 00:00 Uhr
cases7_per_100k_txt:  144.2
BEM Sonderverband

In [130]:
# Clean data - numeric columns have "--" or other symbols to represent missing data
# df_landkreis.replace({'BEM': {"--": None, {'Sonderverband': None}}}, inplace = True)

In [142]:
# Clean data - numeric columns must be in English decimal notation
df_landkreis['cases7_per_100k_txt'] = [x.replace(',', '.') for x in df_landkreis['cases7_per_100k_txt']]
df_landkreis['cases7_per_100k_txt'] = df_landkreis['cases7_per_100k_txt'].astype(float)

In [147]:
df_landkreis.BEM.unique()

array([None, 'Sonderverband'], dtype=object)

In [148]:
# Append current data to table in MySQL
df_landkreis.to_sql(name = "rki_landkreis", schema = "rki_covid", con = connection, if_exists = "append", index = False)

In [158]:
# Import date information
from datetime import datetime

In [161]:
print(datetime.now().strftime("%d/%m/%Y %H:%M:%S"))

04/03/2021 15:26:24

In [162]:
# Fill the log table with each request
df_log = pd.DataFrame.from_dict({
"DATE_REQUEST": [datetime.now().strftime("%d/%m/%Y %H:%M:%S")],
"NAME_OF_REQUEST": ["rki_landkreis"],
"NUMBER_OF_ROWS": [df_landkreis.shape[0]]
})

print(df_log)

          DATE_REQUEST NAME_OF_REQUEST  NUMBER_OF_ROWS
0  04/03/2021 15:26:34   rki_landkreis             412

In [184]:
# Skip SQLalchemy -> use MySQLdb instead
# import MySQLdb

In [186]:
# connection_raw = engine.raw_connection()
# cursor = connection_raw.cursor()

In [194]:
# Add information to log
connection.execute("INSERT INTO data_requests(DATE_REQUEST, NAME_OF_REQUEST, NUMBER_OF_ROWS) VALUES(%s, %s, %s)", 
(datetime.now().strftime("%d/%m/%Y %H:%M:%S"), 
"rki_landkreis", 
df_landkreis.shape[0])
)

In [201]:
# Get ID from Insert statement
id_request = connection.execute("SELECT MAX(ID_REQUEST) FROM data_requests").scalar()
print(id_request)
# Yes, if there will be several scripts writing simultaneously into the db, then this could be problematic. 
# But that will not happen in this project.

8

In [202]:
# Add ID to df_landkreis
df_landkreis["ID_REQUEST"] = id_request

In [204]:
try:
    df_landkreis.to_sql(name = "rki_landkreis", schema = "rki_covid", con = connection, if_exists = "append", index = False)
except:
    df_error = pd.DataFrame.from_dict({"ID_REQUEST": id_request, "COMMENT": "Error appending data to rki_landkreis"})
    df_error.to_sql(name = "log", schema = "rki_covid", con = connection, if_exists = "append", index = False)

In [ ]:
# And that's about it! Let's put this into a script that can be executed every morning.